/* SVG elements */

svg * {
  vector-effect: non-scaling-stroke !important;
}

/* Page background */

#squeezebox {
/*  background: #000; */
}

/* Visibility */

.visible {
  display: initial !important;
}

.hidden {
  display: none !important;
}

.hidden-enabled {
  visibility: hidden !important;
}

/* Active media item */

.active-media-item {
  fill: #000 !important;
}

.active-media-item-background {
  fill: #63be7b !important;
  fill-opacity: 1 !important;
}

